.third-place-container {
  max-width: 1000px;
}

.third-place-container__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 12px;
  margin-top: 1.5rem;
}

@media (max-width: 1024px) {
  .third-place-container__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 600px) {
  .third-place-container__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
