@font-face {
  font-family: 'Cormorant Garamond';
  src: url('/fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #F9FBF9;
  --card-background: #EAEEEB;
  --border: #bcbcbc;
  --text: #1E2B22;
  --text-secondary: #1e2b22be;
  --highlight: #B5D5C5;
  --qualify: #B5D5C5;
  --playoffs: #F5EACF;
  --info-text: #477A5E;

  --sans: 'Montserrat', Roboto, sans-serif;
  --heading: 'Cormorant Garamond', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  color: var(--text);
  background: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 800;
  color: var(--text);
}

h1 {
  font-size: 56px;
  margin: 32px 0;
  line-height: 120%;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 2rem auto;
  padding: 0 16px;
  box-sizing: border-box;
}


